In [159]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/Samyukthavankadari/PDS_Assignment2/58b22cf9f5674abbb30f1ba0a3079239ab5a7e74/raw_data/train%20(1).csv')

print(data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              41000    Diesel       Manual      First  19.67 kmpl  1582 CC
1              46000    Petrol       Manual      First    13 km/kg  1199 CC
2              87000    Diesel       Manual      First  20.77 kmpl  1248 CC
3              40670    Diesel    Automatic     Second   15.2 kmpl  1968 CC
4              86999    Diesel       Manual      First  23.08 kmpl  1461 CC

       Power  Seats  New_Price  Price
0  126.2 bhp    5.0        NaN  12.50
1   88.7 bhp    5.0  8.61 Lakh   4.50
2  88.76 bhp    7.0        NaN   6.00
3  140.8 bhp    5.0        NaN  17.74
4   63.1 bhp    5.0        NaN   3.50

a.Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task.

In [160]:
#dropping null values

print(data.isnull().sum())

# Drop rows with any missing values
data_cleaned = data.dropna()
print(data_cleaned.isnull().sum())

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

 Ans.Each car has a unique company and model, so we can't simply replace null values with the mean, median, or mode for a specific column, as this could compromise the accuracy of our analysis.

b.Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [161]:
# Removing units from 'Mileage', 'Engine', 'Power' variables
data_cleaned['Mileage'] = data_cleaned['Mileage'].str.extract('(\d+\.?\d*)').astype(float)
data_cleaned['Engine'] = data_cleaned['Engine'].str.extract('(\d+)').astype(float)
data_cleaned['Power'] = data_cleaned['Power'].str.extract('(\d+\.?\d*)').astype(float)


print("\nData after removing units:")
print(data_cleaned.head())
data_cleaned.to_csv('removing_units.csv', index=False)

Data after removing units:
    Unnamed: 0                               Name Location  Year  \
1            2                       Honda Jazz V  Chennai  2011
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
8           10                   Maruti Ciaz Zeta    Kochi  2018
13          15        Mitsubishi Pajero Sport 4X4    Delhi  2014
18          20                  BMW 3 Series 320d    Kochi  2014

    Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
1               46000    Petrol       Manual      First    13.00  1199.0
5               36000    Diesel    Automatic      First    11.36  2755.0
8               25692    Petrol       Manual      First    21.56  1462.0
13             110000    Diesel       Manual      First    13.50  2477.0
18              32982    Diesel    Automatic      First    22.69  1995.0

     Power  Seats   New_Price  Price
1    88.70    5.0   8.61 Lakh   4.50
5   171.50    8.0     21 Lakh  17.50
8   103.25    5.0  10.65 Lakh   9.95
13  175.56    7.0  32.01 Lakh  15.00
18  190.00    5.0  47.87 Lakh  18.55

<ipython-input-161-fa09685069f1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Mileage'] = data_cleaned['Mileage'].str.extract('(\d+\.?\d*)').astype(float)
<ipython-input-161-fa09685069f1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Engine'] = data_cleaned['Engine'].str.extract('(\d+)').astype(float)
<ipython-input-161-fa09685069f1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Power'] = data_cleaned['Power'].str.extract('(\d+\.?\d*)').astype(float)

In [162]:
df11 = data_cleaned
print(df11.head(5))

    Unnamed: 0                               Name Location  Year  \
1            2                       Honda Jazz V  Chennai  2011
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
8           10                   Maruti Ciaz Zeta    Kochi  2018
13          15        Mitsubishi Pajero Sport 4X4    Delhi  2014
18          20                  BMW 3 Series 320d    Kochi  2014

    Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
1               46000    Petrol       Manual      First    13.00  1199.0
5               36000    Diesel    Automatic      First    11.36  2755.0
8               25692    Petrol       Manual      First    21.56  1462.0
13             110000    Diesel       Manual      First    13.50  2477.0
18              32982    Diesel    Automatic      First    22.69  1995.0

     Power  Seats   New_Price  Price
1    88.70    5.0   8.61 Lakh   4.50
5   171.50    8.0     21 Lakh  17.50
8   103.25    5.0  10.65 Lakh   9.95
13  175.56    7.0  32.01 Lakh  15.00
18  190.00    5.0  47.87 Lakh  18.55

c. Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value.

In [163]:
# Perform one-hot encoding using pandas get_dummies
df11 = pd.get_dummies(df11, columns=['Fuel_Type', 'Transmission'], prefix=['Fuel', 'Transmission'])

print(df11.head())
df11.to_csv('one_hot_encoded.csv', index=False)

    Unnamed: 0                               Name Location  Year  \
1            2                       Honda Jazz V  Chennai  2011
5            7  Toyota Innova Crysta 2.8 GX AT 8S   Mumbai  2016
8           10                   Maruti Ciaz Zeta    Kochi  2018
13          15        Mitsubishi Pajero Sport 4X4    Delhi  2014
18          20                  BMW 3 Series 320d    Kochi  2014

    Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats   New_Price  \
1               46000      First    13.00  1199.0   88.70    5.0   8.61 Lakh
5               36000      First    11.36  2755.0  171.50    8.0     21 Lakh
8               25692      First    21.56  1462.0  103.25    5.0  10.65 Lakh
13             110000      First    13.50  2477.0  175.56    7.0  32.01 Lakh
18              32982      First    22.69  1995.0  190.00    5.0  47.87 Lakh

    Price  Fuel_Diesel  Fuel_Petrol  Transmission_Automatic  \
1    4.50        False         True                   False
5   17.50         True        False                    True
8    9.95        False         True                   False
13  15.00         True        False                   False
18  18.55         True        False                    True

    Transmission_Manual
1                  True
5                 False
8                  True
13                 True
18                False

d.Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [172]:
from datetime import datetime
# Calculating current year
current_year = datetime.now().year

#caluculating current age of the car
df11['Current_Age'] = current_year - df11['Year']


df11.head(5)
df11.to_csv('current_age.csv', index=False)

e.Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [174]:
# Get the actual one-hot encoded column names
fuel_columns = [col for col in df11.columns if col.startswith('Fuel_')]
transmission_columns = [col for col in df11.columns if col.startswith('Transmission_')]

# Include these new columns in your selection
selected_columns = df11[['Name', 'Location', 'Year', 'Kilometers_Driven', 'Owner_Type', 'Seats', 'Price'] +
                         fuel_columns + transmission_columns]

#print("selected columns:",selected_columns)
selected_columns.head(5)
selected_columns.to_csv('selected_columns.csv', index=False)

In [176]:
#filteroperation
filtered_data = df11[df11['Price'] > 10]
filtered_data.head(5)
filtered_data.to_csv('filtered_data.csv', index=False)

In [177]:
#rename operation
renamed_df = df11.rename(columns={'Fuel_Type': 'FuelType', 'Transmission': 'TransType'})
renamed_df.head(5)
renamed_df.to_csv('renamed_df.csv', index=False)

In [168]:
#mutate operation
df11['Age'] = 2024 - df11['Year']
df11.head(5)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Diesel,Fuel_Petrol,Transmission_Automatic,Transmission_Manual,Current_Age,Age
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61 Lakh,4.50,False,True,False,True,13,13
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755.0,171.50,8.0,21 Lakh,17.50,True,False,True,False,8,8
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462.0,103.25,5.0,10.65 Lakh,9.95,False,True,False,True,6,6
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.50,2477.0,175.56,7.0,32.01 Lakh,15.00,True,False,False,True,10,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69,1995.0,190.00,5.0,47.87 Lakh,18.55,True,False,True,False,10,10

In [178]:
#arrange operation
#sorting the data
sorted_df = df11.sort_values(by='Price', ascending=False)
sorted_df.head(5)
sorted_df.to_csv('sorted_df.csv', index=False)

In [180]:
#summarize by group
summary_data = df11.groupby('Location')['Price'].mean().reset_index()
summary_data.head(5)
summary_data.to_csv('summary_data.csv', index=False)